<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Liberty Journal</title>
    <script src="../main.js"></script>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../article.css">
    <script src="../components/theme-swap.js"></script>
    <script src="../components/nav.js"></script>
    <script src="../components/sidenav.js"></script>
</head>

<body>
    <slj-nav></slj-nav>
    <slj-sidenav></slj-sidenav>
    <div class='article'>
        {{{article}}}
    </div>
</body>

</html>