.article {
  padding: 40px 8px;
  width: 80vw;
  margin: auto;
  line-height: 150%;
}

.article img {
  max-width: 80vw;
}

@media only screen and (max-width: 1240px) {
}

@media only screen and (max-width: 830px) {
  .article {
    width: 95vw;
  }
  .article img {
    max-width: 95vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ca);
  font-weight: normal;
}
